

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Welcome to Farm Products</h2>
            <p>Please log in to access your account.</p>
        </div>
        <div class="col-md-4">
            <partial name="_LoginPartial" />
        </div>
    </div>
</div>
